@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.top-22 {
  top: 6rem;
}

.right-17 {
  right: 4.3rem;
}

.pnList-table-th {
  @apply h-14 pr-3 text-left font-bold text-lg
}

.pnList-table-td {
  @apply h-14 pr-3 text-left
}

.daily-table-th {
  @apply px-6 py-3
}

.daily-table-td {
  @apply px-6 py-4 font-medium whitespace-nowrap text-white
}

.active {
  @apply bg-[#fcfcfc] text-black
}

/* 隱藏通知欄的滾動條，並保持功能不變 */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}